.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.AppHeader {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  width: 50%;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}

.result {
  margin-top: 20px;
}

.city {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.weatherCondition {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.weatherDescription {
  font-size: 18px;
  color: #666;
}